.footer,
.app {
  background-color: lightsteelblue;
}

/* LOGO LOGIN FORM */
.login-card-container {
  top: 90px;
  right: 50px;
}

/* SIGN UP FORM */
.signup-card-container {
  position: absolute;
  /* margin-right: auto; */
  top: 21px;
  right: -200px;
  width: 440px;
  height: 50px;
}

.login-page {
  margin-top: 2px;
  margin-left: 2px;
}

.sign-up-page {
  background-repeat: no-repeat;
  margin-top: 2px;

  /* margin-left: 2px; */
}

.form-card,
.section-box {
  background: linear-gradient(0.15turn, #ebf8e1, #f69d3c);
}

.header {
  background-color: #e9c5a0;
}

.form-card {
  margin-top: 30px;
}

#login-card-holder {
  margin-right: 5px;
  right: 50px;
}
